@page
@model PetProject.Pages.Animals.IndexModel

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
 
    <!-- jsDeliver -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <!-- D3 -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 

<style>

    img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

        /* Add a hover effect (blue shadow) */
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

    .column {
        float: left;
        width: 20%;
        padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

 



<div class="row">

    @foreach (var item in Model.Pets)
    {
    <div class="column">
        <img class="lazy" src="~/images/doge.jpg" data-src="@Html.DisplayFor(modelItem => item.PetPhotosLink)" data-srcset="@Html.DisplayFor(modelItem => item.PetPhotosLink)" style="width:100%">
        <a asp-page="Animals/Details" asp-route-id="@item.Id">Details</a>
    </div>
    }



</div>

 



